<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">8gag Web Site</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if app.user %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li>
                            <a href="/admin">Admin Panel</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/pictures/list">All Pictures</a>
                    </li>
                    <li>
                        <a href="/user/pictures">My Pictures</a>
                    </li>
                    <li>
                        <a href="/picture/add">Upload Picture</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Sign Up</a>
                    </li>

                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <br>
    <br>
    <br>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <div class="container">

        <hr>
    <div style="text-align: center;">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 8gag 2017</p>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>
