{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center;">
        <div class="container">
            <div class="jumbotron">
                <h1>Have Fun</h1>
                <p>Welcome To 8gag. Here you can share your craziest photos, see other people pictures and rate them. For more usability, please register or login</p>
            </div>
            <p>Only for people with <b>MASSIVE </b>Sense of Humour. (and nerds..)</p>
        </div>
    </div>
{% endblock %}